{{form.non_field_errors}}

{% csrf_token %}
{% for field in form.hidden_fields %} {{hidden}} {% endfor %}
{% for field in form.visible_fields %}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="id_{{field.html_name}}">
        {% if field.label == 'Username' %}
            Email Address
        {% else %}
            {{field.label}}
        {% endif %}
    </label>
    <div class="controls">
        {% if field.label == 'Username' %}
            <input id="id_username" type="text" name="username" maxlength="100" />
        {% else %}
            {{field}}
        {% endif %}
        {% for error in field.errors %}
        <span class="help-inline">{{error}}</span>
        {% endfor %}
    </div>
</div>
{% endfor %}
