{% extends "base.html" %}

{% block title %}Shoelace{% endblock %}

{% block content %}
<div class="module clearfix">
<h3 class="sectionHeader">Log in to one of our sites</h3s>
<ul class="halfs">
	<li class="clear which-site">
		<div class="">
			<img src="http://static.openstates.org/assets/v2.1/images/logo.png">
		</div>
	</li>
	<li class="last which-site">
		<div class="">
			<img src="https://scout.sunlightfoundation.com/images/logo_scout.png">
		</div>
	</li>
		<li class="clear which-site">
		<div class="">
			<img src="https://scout.sunlightfoundation.com/images/logo_scout.png">
		</div>
	</li>
	<li class="last which-site">
		<div class="">
			<img src="http://static.openstates.org/assets/v2.1/images/logo.png">
		</div>
	</li>
	<li class="clear which-site">
		<div class="">
			<img src="http://static.openstates.org/assets/v2.1/images/logo.png">
		</div>
	</li>
	<li class="last which-site">
		<div class="">
			<img src="http://static.openstates.org/assets/v2.1/images/logo.png">
		</div>
	</li>
	<li class="last which-site">
		<div class="">
			<img src="https://scout.sunlightfoundation.com/images/logo_scout.png">
		</div>
	</li>
	<li class="last which-site">
		<div class="">
			<img src="https://scout.sunlightfoundation.com/images/logo_scout.png">
		</div>
	</li>
</ul>
</div>

{% endblock %}
