{% extends "base.html" %}
{% load url from future %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="span7">
	<h2>Login</h2>
	{% if request.shoelace.client_profile %}
	    <img src="{{request.shoelace.client_profile.image_url}}" alt="" />
	{% endif %}
	<form method="POST" action="{% url 'login' %}?next={{next|urlencode}}" class="form-horizontal">
	<input type="hidden" name="next" value="{{next}}">
	{% include "accounts/_form.html" %}
	<div class="control-group">
	    <div class="controls">
	        <button type="submit" class="btn btn-sunlight">Login</button>
	        <a href="{% url 'signup' %}?next={{next|urlencode}}" class="btn" >New Account</a>
	        <a href="{% url 'password_reset' %}" class="btn" >Forgot Password?</a>
	    </div>
	</div>
	</form>
</div>
<div class="span5">
		<img src="http://static.openstates.org/assets/v2.1/images/logo.png">
</div>

{% endblock %}
