{% extends "base.html" %}
{% load url from future %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="span7">
    <h2>Login</h2>
    <form method="POST" action="{% url 'login' %}?next={{next|urlencode}}" class="form-horizontal">
        <input type="hidden" name="next" value="{{next}}">
        {% include "accounts/_form.html" %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-sunlight">Login</button>
                <ul class="or">
	                <li>
	                	Don't have an account yet? <a href="{% url 'signup' %}?next={{next|urlencode}}">Sign Up</a>
	                </li>
	                <li>
	                	Forgot your password? <a href="{% url 'password_reset' %}">Retrieve it</a>
	                </li>
            	</ul>
            </div>
        </div>
    </form>
</div>
{% if request.shoelace.client_profile %}
<div class="span5 which-site">
    <img src="{{request.shoelace.client_profile.image_url}}" alt="" />
    <div class="">
        {{request.shoelace.client_profile.login_text}}
    </div>
</div>
{% endif %}

{% endblock %}
