{% extends "base.html" %}

{% block content %}
<h2>Reset Password</h2>
Lost your password? Sorry to hear that! If you enter the email you created
the account with, we can send you a link to reset your password and help
you get back into your account.<br />
<br />
<form method="POST" action="." class="form-horizontal">
{% include "accounts/_form.html" %}

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Reset Password</button>
        </div>
    </div>
</form>
{% endblock %}
