{% extends "base.html" %}
{% load account_tags %}


{% block title %}profile{% endblock %}

{% block content %}
<h1>Hi, {{user.first_name}}!</h1>
<p>It's a damn file pleasure to meet you.</p>

{% if clients %}
<h3>Owned Client Keys</h3>
<table class="table table-bordered table-striped" >
    <tr>
        <th>Client Name</th>
        <th>Client Key</th>
        <th>Client Secret</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td>{{client.name}}</td>
        <td>{{client.key}}</td>
        <td>{{client.secret}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{% if authed_apps %}
<h3>Authorized Apps</h3>
<table class="table table-bordered table-striped" >
    <tr>
        <th>App Name</th>
        <th>Since</th>
        <th>Revoke Access</th>
    </tr>
    {% for app in authed_apps %}
    <tr>
        <td>{{app.client.name}}</td>
        <td>{{app.last_token.issue|hp}}</td>
        <td><a href = '/accounts/revoke/{{app.client.id}}/' >revoke</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if access_tokens %}
<h3>Issued access tokens</h3>
<table class="table table-bordered table-striped" >
    <tr>
        <th>Client</th>
        <th>Issued</th>
        <th>Expire</th>
        <th>Scope</th>
    </tr>
    {% for token in access_tokens %}
    <tr>
        <td>{{token.client.name}}</td>
        <td>{{token.issue|hp}}</td>
        <td>{{token.expire|hp}}</td>
        <td>
{% for scope in token.scope.all %}
            <span class="badge badge-info" >{{scope.key}}</span>
{% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if codes %}
<h3>Issued codes</h3>
<table class="table table-bordered table-striped" >
    <tr>
        <th>Client</th>
        <th>Issued</th>
        <th>Expire</th>
    </tr>
    {% for code in codes %}
    <tr>
        <td>{{code.client.name}}</td>
        <td>{{code.issue|hp}}</td>
        <td>{{code.expire|hp}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
