{% extends "base.html" %}

{% block title %}profile{% endblock %}

{% block content %}
<h1>Hi, {{user.first_name}}!</h1>
<p>It's a damn file pleasure to meet you.</p>

{% if clients %}
<h3>Owned Client Keys</h3>
<table class="table table-bordered table-striped" >
    <tr>
        <th>Client Name</th>
        <th>Client Key</th>
        <th>Client Secret</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td>{{client.name}}</td>
        <td>{{client.key}}</td>
        <td>{{client.secret}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
