{% extends "base.html" %}
{% load url from future %}

{% block head %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/login.css">
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}
{% if form.errors %}
    <p>Your username and password didn't match. Please try again</p>
{% endif %}


<form
    class="form-signin"
    method="post"
    action="/accounts/signup/"
>
{{form}}

<!--
    <h2 class="form-signin-heading">Welcome!</h2>
    <input
        name="email"
        type="text"
        class="input-block-level"
        placeholder="Email"
    >
    <input
        name="first"
        type="text"
        class="input-block-level"
        placeholder="First Name"
    >
    <input
        name="last"
        type="text"
        class="input-block-level"
        placeholder="Last Name"
    >
    <input
        name="pass"
        type="password"
        class="input-block-level"
        placeholder="Password"
    >
    <input
        name="pass2"
        type="password"
        class="input-block-level"
        placeholder="Password (again)"
    >
-->

    <button class="btn btn-primary" type="submit">Sign up</button>
    {% csrf_token %}
</form>
{% endblock %}
