{% extends "base.html" %}
{% load url from future %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<div class="span7">
    <h2>Sign Up</h2>
    <form method="POST" action="{% url 'signup' %}?next={{next|urlencode}}" class="form-horizontal">
        <input type="hidden" name="next" value="{{next}}">
        {% include "accounts/_form.html" %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign Up</button>
            </div>
        </div>
    </form>
</div>
{% if request.shoelace.client_profile %}
<div class="span5 which-site">
    <img src="{{request.shoelace.client_profile.image_url}}" alt="" />
    <div class="">
        {{request.shoelace.client_profile.signup_text}}
    </div>
</div>
{% endif %}
{% endblock %}
