{% extends "base.html" %}
{% load url from future %}

{% block head %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/login.css">
{% endblock %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<h2>Sign Up</h2>
<form method="POST" action="{% url 'signup' %}?next={{next|urlencode}}" class="form-horizontal">
<input type="hidden" name="next" value="{{next}}">
{% include "accounts/_form.html" %}
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn">Sign Up</button>
    </div>
</div>
</form>
{% endblock %}
