{% extends "base.html" %}

{% block title %}Auth{% endblock %}

{% block content %}
    <div class="hero-unit">
        <h1>{{client.name}}</h1>
        <p>{{client.description}}</p>
        <p>
        {% if profile %}
            <img src="{{profile.image_url}}" alt="{{client.name}}" />
        {% endif %}
        </p>
        <p><i>{{client.name}}</i> is requesting access to your data.
        Should I give it your deets?</p>
        <p>
        <ul>
{% for range in access_ranges %}
            <li>{{range.key}}</li>
{% endfor %}
        </ul>
        </p>
        <p>
        <form
            class="form-signin"
            method="post"
            action="/oauth2/authorize"
        >
            <button
                name="connect"
                value="No"
                class="btn btn-danger"
                type="submit"
            >No way</button>
            <button
                name="connect"
                value="Yes"
                class="btn btn-primary"
                type="submit"
            >Yup!</button>
            {% csrf_token %}
            {% for key, value in GET.items %}
                <input type = 'hidden' name = '{{key}}' value = '{{value}}' />
            {% endfor %}
            {% csrf_token %}
        </form>
        </p>
    </div>
{% endblock %}
